.body {
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;
}
.container {
    margin-top: 10px;
}
.container-fluid {
    display: flex;
}
a.navbar-brand {
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}
.card-header {
    background: #404040;
}
form.search {
    display: flex;
    align-items: center;
}
button.btn.btn-outline-success {
    border: 2px solid #ffffff;
    color: #ffffff;
}
button.btn.btn-outline-success:hover {
    border: 2px solid #c92c6d;
    color: #ffffff;
    background-color: #c92c6d;
    font-weight: 700;
}
